body {
    margin: 0;
}

header {
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(resources/Banner\ Image.png);
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    opacity: 0.98;
    background-position: center center; 

    background-repeat: no-repeat;
    height: 100vh;

}
h3 {
    font-size: 24px;
    font-weight: lighter;
}
h1 {
    font-size: 60px; 
    font-weight: bold;
    
}

.second_section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-heading {
    text-transform: uppercase;
    margin: 0;
}

.special-heading.h1 {
    font-size: 70px;
    color: red;
}

.special-heading.h3 {
    font-size: 30px;
    color: red;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}
.third_section {
    background-image: url(resources/Vectorrr.png);
    color: #ffffff; 
    height: 100vh;
    background-repeat: no-repeat;
padding-left: 150PX;
padding-top: 150PX;
    margin-left: 20px; /* Adjust the margin as needed */
    margin-right: 20px; /* Adjust the margin as needed */
    margin-TOP: 100px; /* Adjust the margin as needed */
}

.third_section h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

.third_section h3 {
    font-size: 25px;
    font-weight: lighter;
}

.third_section button {
    height: 50px;
    padding: 0; /* Remove default padding */
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 15PX;
}

.fourth_section {
    /* text-align: center; */
    padding: 20px;
    padding-left: 50px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.image {
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.1); 
}

.newsletter {
    background-color: #FFF2F2;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter div {
    position: relative;
}

input[type="email"] {
    width: 40%;
    padding: 10px;
    border: none;
    color:grey;
    border-top-left-radius: 15px; /* Rounded on the left side */
    border-bottom-left-radius: 15px; /* Rounded on the left side */
}

button {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    border-top-right-radius: 15px; /* Rounded on the right side */
    border-bottom-right-radius: 15px; /* Rounded on the right side */
    cursor: pointer;
   
}


.footer {
    margin-top: 20px;
    background-color:rgb(14, 43, 72);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top, .bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.middle-center {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.top div, .bottom div {
    flex: 1;
}

.top div, .bottom div, .middle-center img {
    margin: 10px;
}

.middle-center img {
    width: 30px; 
    height: 30px;
}
